*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Proxima400";
  src: url("./assets/fonts/ProximaNovaCondensedRegular.otf") format("truetype");
}
@font-face {
  font-family: "Proxima700";
  src: url("./assets/fonts/ProximaNovaCondensedBold.otf");
}
